#navbar-txt {
    font-family: 'inter', sans-serif;
    font-weight: 700;
}

nav {
    background: url(images/background.png);
}

li #navbar-txt {
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
}

* {
    font-family: 'inter', sans-serif;
    font-weight: 400;
}

#main-body {
    background: url(images/background.png);
}

#seven-hundred {
    font-weight: 700;
}

p#navbar-txt {
    border-radius: 40px;
    background-color: #038cfc;
    color: white;
    padding: 5px 15px;

}

#page-one {
    background: url(images/background.png);
}

p#seven-hundred {
    font-size: 25px;
    color: #038cfc;
}

h1#seven-hundred {
    font-size: 79px;
}

#lower {
    background-color: #038cfc;

    padding: 83px;
    font-size: 16px;
    text-align: left;


}

@media(max-width:640px) {
    .none {
        display: none;
    }
}

;